@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@import "@/assets/css/reset";

.header {
    background-color: #f9f9f9;
    &__container {
        align-items: center;
        padding-top: 10px;
    }

    &__logo {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        a {
            display: inline-block;
            padding: 10px 20px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        &-list {
            display: flex;
        }
        &-item {
            a {
                display: block;
                padding: 20px;
                font-size: 16px;
                color: #000;
                &.router-link-active {
                    font-weight: 700;
                }
            }
        }
    }
}

.main {
    display: flex;
    .menu {
        min-width: 250px;
        &__label{
            font-size:12px;
            color:#666;
        }
        &__link{
            
        }
        &__list {
            &--1depth {
                ul {
                    margin-left: 20px;
                }
            }
        }
    }
}
